.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
    border-bottom: 2.5px solid blue;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

button:hover{
    width:205px;
    height: 45px;
    background-color: #1b3593;
}

.titulo {
    margin-left: 8px;
}

.form-success, .form-error{
    --success-span-width: 250px;
    position: fixed;
    top: 20px;
    width: var(--success-span-width);
    left: calc(50% - (var(--success-span-width) / 2));
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    color: white;
}

.form-success{
    background-color: rgb(11, 158, 6);
}

.field-error{
    border: 2px solid red;
}

.fadeOut{
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.form-error{
    background-color: rgb(212, 18, 18);
    color: white;
}

textarea.fordform{
    height: 150px;
    resize: none;
}

span.error-message{
    color: red;
    font-weight: bolder;
    padding: 4px;
    margin: 10px;
    margin-left: 25px;
}
span.error-message::before{
    content: "* ";
}